/* base import */
@import './base/reset.css';
@import './base/common.css';
@import './base/variables.css';

/*layout*/
@import './base/layout.css';

/* 3rd-party import */
@import './3rd-party/font-awesome.min.css';

/* components import */
@import './components/button.css';
@import './components/header.css';
@import './components/projects.css';
@import './components/choose.css';
@import './components/feedback.css';
@import './components/sidebar.css';
@import './components/client-carousel.css';
@import './components/Offered-services.css';
@import './components/hero.css';
@import './components/personal.css';
@import './components/counter.css';
@import './components/blog.css';
@import './components/footer.css';

/* CUSTOM STYLES FOR HOME PAGE GOES BELOW THIS COMMENT */

/* Header start  */
/* Header end */

/* Hero start  */
/* Hero end */

/* Personal details start  */
/* Personal details end */

/* Offered services start  */
/* Offered services end */

/* Counter  start  */
/* Counter end */

/* Latest featured projects start  */
/* Latest featured projects end */

/* Client's feedback start  */
/* Client's feedback end */

/* Choose your plan start */

.choose-plan > .container > .row > .section-description p {
  font-size: 14px;
}
@media (min-width: 576px) {
  .choose-plan > .container > .row > .choose {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .choose-plan > .container > .row > .choose {
    width: 50%;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .choose-plan > .container > .row > .choose {
    width: 25%;
    margin: 0 auto;
  }
}

/* Choose your plan end */

/* Blog start  */
/* Blog end */

/* Carusel 2/labels start  */
/* Carusel 2/labels end */

/* Footer start  */
/* Footer end */ ;
