/* base import */
@import './base/reset.css';
@import './base/common.css';
@import './base/variables.css';

/*layout*/
@import './base/layout.css';

/* 3rd-party import */
@import './3rd-party/font-awesome.min.css';

/* components import */
@import './components/button.css';
@import './components/header.css';
@import './components/projects.css';
@import './components/choose.css';
/* CUSTOM STYLES FOR HOME PAGE GOES BELOW THIS COMMENT */

/* Header start  */
/* Header end */

/* Hero start  */
.hero {
  padding-top: 10px;
  padding-bottom: 0;
}

.hero > .row {
  margin-bottom: 0;
}

.hero > .row > div.col-12 {
  padding-bottom: 50px;
  margin-top: 0;
}

.hero > .row > div.col-md-6.col-lg-6 {
  padding-bottom: 50px;
  margin-top: 10%;
}

.hero > .row > div > .headingSmall {
  text-transform: uppercase;
  font-weight: lighter;
  padding-bottom: 10px;
}
.hero > .row > div > .section-title.left {
  text-transform: uppercase;
}

.hero > .row > div > .section-description.left {
  font-size: 14px;
  margin-bottom: 20px;
  color: #777777;
}
.hero > .row > .heroImg {
  object-fit: cover;
  float: left;
  padding-top: 15px;
  padding-right: 20px;
  margin-left: 0;
}

/* Hero end */

/* Personal details start  */
/* Personal details end */

/* Offered services start  */
/* Offered services end */

/* Counter  start  */
.counter {
  background: var(--color-gradient);
  text-align: center;
  text-transform: capitalize;
  height: 330px;
}
.counter .row {
  margin-top: 65px;
}

.countNum {
  color: #fff;
  font-size: 35px;
}
.countText {
  color: #fff;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 1px;
}

/* Counter end */

/* Latest featured projects start  */
/* Latest featured projects end */

/* Client's feedback start  */
/* Client's feedback end */

/* Choose your plan start */
.choose-plan > .container > .row > .section-description p {
  font-size: 14px;
}
/* Choose your plan end */

/* Blog start  */
/* Blog end */

/* Carusel 2/labels start  */
/* Carusel 2/labels end */

/* Footer start  */
/* Footer end */
