:root {
  --color-primary: #8095ff;

  --color-secondary: #64bafc;

  --color-dark: #000;

  --color-grey: #a5a6a7;

  --color-blue: #8392ff;

  --color-gradient: linear-gradient(
    90deg,
    rgba(128, 149, 255, 1) 0%,
    rgba(100, 186, 252, 1) 100%
  );
}
