.btn {
  display: inline-block;
  padding: 0.8em 1.9em;
  color: #fff;
  font-size: 14px;
  line-height: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background: var(--color-primary);
  background: var(--color-gradient);
  cursor: pointer;
  transition: all 0.4s;
}
.btn:hover {
  box-shadow: 0 17px 18px #0002;
}
