.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 950;
  top: 0;
  left: 0;
  background-color: var(--color-dark);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidebar .navBar {
  padding: 8px 20px 8px 18px;
  text-decoration: none;
  color: white;
  display: block;
}

.sidebarClose {
  position: absolute;
  top: 15px;
  right: 120px;
  display: none;
  z-index: 999;
  background-color: transparent;
  border: none;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.sidebarClose .fa {
  font-size: 30px;
}

.sidebarEngade {
}
.sidebarOverlay {
  z-index: 900;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}
