.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--color-dark);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidebar .navBar {
  padding: 8px 20px 8px 18px;
  text-decoration: none;
  color: white;
  display: block;
}

.sidebarClose {
  /*display: none;*/
  color: red;
}

.sidebarClose .fa {
  font-size: 30px;
}

.sidebarEngade {
}
